[Unit]
Description=uWSGI instance to server python-sample-app
After=network.target

[Service]
User={{ userap }}
Group={{ userap }}
WorkingDirectory={{ path_app }}
EnvironmentFile={{ path_app }}/.env 
ExecStart={{ path_app }}/pythonenv/bin/uwsgi --ini wsgi.ini

[Install]
WantedBy=multi-user.target
